.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 45vh;
  border: 10px solid rgb(105, 105, 105);
  border-radius: 10px;
  padding: 10px 20px;
  overflow-x: hidden;
}

@media screen and (max-width: 900px) {
  .meanings {
    height: 60vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}

.subtitle {
  font-size: 5vw;
  font-family: "Montserrat", sans-serif;
}

.singleMean {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}

.audio {
  background-color: #fff;
  border-radius: 10px;
}
